<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add NuGet official package source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageManagement>
    <packageVersioning>
      <add packageId="NUnit" version="4.0.1" />
      <add packageId="Moq" version="4.20.70" />
      <add packageId="FluentAssertions" version="6.12.0" />
      <add packageId="NUnit3TestAdapter" version="4.5.0" />
      <add packageId="MonoGame.Framework.DesktopGL" version="3.8.1.303" />
    </packageVersioning>
  </packageManagement>
</configuration>
